@use "src/styles/variables";

.container {
  padding: 2rem;
  width: 100%;

  span {
    line-height: 0;
  }
}

.hero__upper {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    font-size: 6rem;
    font-family: "Okta Neue";
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: variables.$red-300;
    height: 6rem;

    &:first-child {
      display: flex;
      justify-content: flex-end;

      @media (max-width: variables.$breakpoint-xs) {
        justify-content: flex-start;
      }
    }

    @media (max-width: variables.$breakpoint-xs) {
      height: 2rem;
      font-size: 2rem;
    }
  }

  @media (max-width: variables.$breakpoint-xs) {
    padding-bottom: 1rem;
  }
}

.hero__down {
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    font-size: 6rem;
    font-family: "Okta Neue";
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    height: 6rem;

    &:last-child {
      color: variables.$blue-200;
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: variables.$breakpoint-xs) {
      height: 2rem;
      font-size: 2rem;
    }
  }
}

.hero__down--first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    color: variables.$blue-200;

    &:first-child {
      padding-top: 1rem;
      padding-right: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      font-style: normal;
      color: variables.$red-300;

      @media (max-width: variables.$breakpoint-xs) {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}