* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #040404;
}

a {
  text-decoration:none
}

@font-face {
  font-family: "Okta Neue";
  src: url("../../public/fonts/OktaNeue-Normal.woff") format("woff");
}
@font-face {
  font-family: "Okta Neue";
  font-weight: 800;
  font-style: italic;
  src: url("../../public/fonts/OktaNeue-HeavyItalic.woff") format("woff");
}
@font-face {
  font-family: "Okta Neue";
  font-weight: 600;
  src: url("../../public/fonts/OktaNeue-SemiBold.woff") format("woff");
}

.Typewriter__wrapper {
  font-size: 1rem;
  font-family: "Okta Neue";
}

.react-grid-item.react-grid-placeholder {
  background: grey !important;
}