@use "src/styles/variables";

.footer {
  height: 9.5rem;
  display: flex;
  justify-content: center;
  background-color: variables.$night-100;
  
  @media (max-width: variables.$breakpoint-sm) {
    height: 5rem;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  > span {
    margin-bottom: 1rem;
    font-size: .75rem;
    font-family: 'Okta Neue';
    color: variables.$snow-200;
  }
}